@page
@model Fora.UI.Pages.AboutModel
@{
}
<body>
    <div class="css-typing-caps">
        <h4>OOP2 Project by:</h4>
    </div>
    <div class="css-typing-about">
        <p>Sebastian Swat & Jens Bollerup-Jensen</p>
    </div>
    <div>
        <h4>SYSM5 Malmö // April 2022</h4>
    </div>
</body>