@page
@model Fora.UI.Pages.Forum.LogoutModel
@{
}

<h2 class="display-2 mb-4">Logout</h2>

<form method="post">
    <div class="mb-2">
    <h3>Do you want to logout ?</h3>

        <input type="submit" class="btn btn-outline-light" value="Logout!" />
    </div>
</form> 

 <br /><br />
<a asp-page="/Index">Go back to main page</a>